.main-container{
    margin-right: 600px ;
    margin-left: 600px ;
    font-weight: 300;
}

.button {
    display: inline-block;
    background: none;
    border: 1px solid;
    border-radius: 50px;
    align-items: center;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
}